[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "washi"]
	path = washi
	url = https://github.com/wa-department-of-agriculture/washi
